.slider_block{
    max-width: 80%;
    position: relative;
    height: 300px;
    margin-bottom: 130px;
    margin: auto;
}

.slider_block .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Кнопки */
.slider_block .prev, .slider_block .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


.slider_block .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* фон кнопок */
.slider_block .prev:hover,
.slider_block .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Анимация */
.slider_block .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}